{% extends "pages/layout.html" %}

{% block title %}
<title>{{school_name}} Staff Directory</title>
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Staff Roster</li>
  </ol>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    {% for member in staff %}
    <tr>
      <th scope="row"><a href={% url 'staff_detail' member.employee_id %}>{{member.employee_id}}</a></th>
      <td>{{member.name}}</td>
      <td>{{member.role}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}